@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400..700&display=swap&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Montserrat";
    background-color: #f3f1e9;
    overflow-x: hidden;
}

button {
    background-color: #FFF;
    border: #ADD8E6 solid 2px;
    border-top-left-radius: 5%;
    border-top-right-radius: 35%;
    border-bottom-left-radius: 35%;
    border-bottom-right-radius: 5%;
}

nav {
    background-color: #FFF;
    margin-left: 10em;
    margin-right: 10em;
    border-radius: 0 0 15px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 1em;
}

nav ul li a {
    --c: #BFA26B;
    color: var(--c);
    font-size: 16px;
    border-radius: 0.5em;
    width: 8em;
    height: 3em;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 3em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    display: block;
    text-decoration: none;
    transition: 0.5s;
}

nav ul li a span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

nav ul li a:hover {
    color: #FFF;
}

nav ul li a:hover span {
    transform: translateY(0) scale(2);
}

nav ul li a span:nth-child(1) {
    --n: 1;
}

nav ul li a span:nth-child(2) {
    --n: 2;
}

nav ul li a span:nth-child(3) {
    --n: 3;
}

nav ul li a span:nth-child(4) {
    --n: 4;
}

h1,
h2 {
    font-family: "Edu TAS Beginner";
}

span {
    font-size: 20px;
}

#section-social-media {
    position: relative;
    background-image: url("image/background-img-contact.jpeg"); 
    background-size: cover; 
    background-position: top; 
    padding: 5em 0;
    width: 100%;
    height: 80vh;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    text-align: center; 
    color: white;
}

#section-social-media::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Ajuste a opacidade conforme necessário */
    z-index: 1; /* Coloca o pseudo-elemento atrás do conteúdo */
}

#section-social-media .social-media {
    position: relative;
    z-index: 2; /* Coloca o conteúdo acima do pseudo-elemento */
}

.img-logo {
    padding-left: 1rem;
}

.list-bar {
    padding-right: 1rem;
}

.div-background {
    background-image: url('image/background.png');
    background-size: cover;
    background-position: center;
    width: 80em;
    height: 45em;
    margin: auto;
}

#list-menu {
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-family: "Edu TAS Beginner";
    font-weight: 700;
    font-size: 1.3em;
}

.list-menu-item {
    display: inline-block;
    margin-right: 10px;
}

#logo-empresa {
    width: 5em;
    height: auto;
}

.container-cards {
    background-color: #FFF;
    padding: 5vh;
}

.info-products {
    text-align: center;
    padding: 5vh;
}

.section-cards {
    display: flex;
    height: 75vh;
    max-width: 100vw;
}

.section-cards div {
    display: flex;
    flex: 1;
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.section-cards div:hover {
    flex-grow: 4;
}

.section-cards div img {
    width: 95%;
    height: 60vh;
    object-fit: cover;
    border-radius: 2em;
    transition: transform 0.5s ease-in-out;
}

.section-cards>div .title {
    position: absolute;
    bottom: 85px;
    width: 95%;
    text-align: center;
    opacity: 0;
    color: #FFF;
    background: rgba(0, 0, 0, 0.3);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    padding: 1em 0;
    box-sizing: border-box;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.section-cards div:hover .title {
    opacity: 1;
    transform: translateY(0);
}

.section-cards div .title h3 {
    transform: scale(0.8);
    transition: transform 0.5s ease-in-out;
}

.section-cards div:hover .title h3 {
    transform: scale(1);
}


.img-social {
    width: 2em;
    height: auto;
}

.about-us {
    background-color: #EB68C2;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: stretch;
    padding: 10vh;
}

.info-about-us {
    grid-column-start: 1;
    grid-column-end: 4;
}

.section-info-social {
    background-color: #74EB7E;
    padding: 30vh 0;
    display: none;
}

.title-info-social {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    position: relative;
    bottom: 15vh;
    justify-items: center;
    color: #FFF;
    bottom: 22vh;
}


.customer-experience {
    background-color: #FFF;
}

.customer-name {
    font-weight: bold;
    text-align: right;
}

.number-phone {
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 0.5s ease, height 0.5s ease;
}

.number-phone.show {
    opacity: 1;
    height: auto;
}

.list {
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.list li {
    list-style-type: none;
    width: 250px;
    height: 250px;
    opacity: .25;
    position: absolute;
    left: 50%;
    margin-left: -100px;
    background: #ffffff;
    transition: transform 1s, opacity 1s;
    padding: 4rem 1rem 1rem 1rem;
    border-top-right-radius: 3em;
    border-bottom-left-radius: 3em;
}

.list .act {
    opacity: 1;
}

.list .prev,
.list .next {
    cursor: pointer;
}

.list .prev {
    transform: translateX(-220px) scale(.85);
}

.list .next {
    transform: translateX(220px) scale(.85);
}

.list .hide {
    transform: translateX(-420px) scale(.85);
}

.list .new-next {
    transform: translateX(420px) scale(.85);
}

.list .hide,
.list .new-next {
    opacity: 0;
    transition: opacity .5s, transform .5s;
}

.swipe {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: green;
    border-radius: 2px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.list p {
    font-weight: bold;
    text-align: right;
}

.social-media {
    background: rgba(0, 0, 0, 0.7); /* Fundo preto com opacidade */
    border-radius: 15px;
    padding: 2em;
    color: white; /* Texto branco */
}

#section-social-media .social-media h2 {
    color: #ffffff; /* Título em branco */
    font-size: 2em;
    margin-bottom: 0.5em;
}


.social-media p {
    margin-bottom: 20px;
}

.contact-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.contact-button {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s, transform 0.3s;
}

.contact-button i {
    font-size: 24px;
}

.contact-button.whatsapp {
    background-color: #25d366;
}

.contact-button.instagram {
    background-color: #e1306c;
}

.contact-button:hover {
    transform: translateY(-5px);
    text-decoration: none;
    color: #FFF;
}

.contact-button:active {
    transform: translateY(0);
    text-decoration: none;
    color: #FFF;
}

.timeline {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    margin: auto;
}

.step {
    cursor: pointer;
    text-align: left;
    padding: 10px;
    margin: 10px 0;
    border-left: 5px solid transparent;
    transition: border-color 0.3s;
}

.step:hover {
    border-color: #E11D48;
}

.step h3 {
    margin: 0;
    font-size: 2em;
    color: #E11D48;
}

.step p {
    margin: 0;
    color: #9CA3AF;
}

.content {
    display: none;
    text-align: center;
    padding: 20px;
    border: 1px solid #333;
    margin: 20px;
    max-width: 400px;
    margin: auto;
    transition: max-height 0.5s ease, opacity 0.5s ease;
    overflow: hidden;
}

.content img {
    max-width: 100%;
    height: auto;
}

.content.visible {
    display: block;
    max-height: 1000px;
    opacity: 1;
}

.vertical-text {
    writing-mode: vertical-lr;
    text-orientation: upright;
    margin: 0;
    color: #9CA3AF;
}


@media (min-width: 319px) and (max-width: 376px) {

    .div-background {
        width: auto;
        height: auto;
        display: grid;
        align-content: center;
        justify-items: center;
    }

    .contact-button {
        font-size: 10px;
        padding: 10px 12px;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 18px;
    }

    h4 {
        font-size: 16px;
    }

    p,
    span {
        font-size: 14px;
    }

    main {
        grid-template-columns: repeat(1, 1fr);
        padding: 1em;
    }

    .banner-image img {
        width: 15em;
        height: auto;
    }

    .about-us {
        padding: 2em 1em;
        grid-template-columns: repeat(1, 1fr);
    }

    .info-about-us {
        grid-column-start: 1;
        grid-column-end: 1;
    }

    .about-us-img {
        height: auto;
        display: flex;
        justify-content: center;
    }

    .about-us-img img {
        width: 15em;
    }

    #section-products {
        display: none;
        opacity: 0;
    }

    #section-social-media {
        padding: 5em 2em;
    }

    nav {
        display: none;
    }

    #section-social-media{
        height: 35vh;
    }

    .social-media {
        background: rgba(0, 0, 0, 0.0)
    }

    .section-cards-mobile img {
        width: 100%;
    }
}

/* Estilos específicos para telefones */
@media (min-width: 377px) and (max-width: 480px) {

    nav {
        display: none;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 18px;
    }

    h4 {
        font-size: 16px;
    }

    p,
    span {
        font-size: 14px;
    }

    main {
        grid-template-columns: repeat(1, 1fr);
        padding: 1em;
    }

    .banner-image img {
        width: 15em;
        height: auto;
    }

    .div-background {
        width: auto;
        height: 30em;
        display: grid;
        align-content: center;
        justify-items: center;
    }

    .about-us {
        padding: 2em 1em;
        grid-template-columns: repeat(1, 1fr);
    }

    .info-about-us {
        grid-column-start: 1;
        grid-column-end: 1;
    }

    .about-us-img {
        height: auto;
        display: flex;
        justify-content: center;
    }

    .about-us-img img {
        width: 15em;
    }

    #section-products {
        display: none;
        opacity: 0;
    }

    .info-products-mobile h2 {
        text-align: center;
        margin-bottom: 10px;
    }

    .info-products-mobile span {
        text-align: center;
        display: block;
        margin-bottom: 20px;
    }

    #section-social-media {
        padding: 5em 2em;
    }

    #section-social-media{
        height: 42vh;
    }

    .social-media {
        background: rgba(0, 0, 0, 0.0)
    }

    .section-cards-mobile img {
        width: 100%;
    }
}

/* Estilos específicos para telefones grandes */
@media (min-width: 481px) and (max-width: 767px) {

    nav {
        display: none;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 18px;
    }

    h4 {
        font-size: 16px;
    }

    p,
    span {
        font-size: 14px;
    }

    main {
        grid-template-columns: repeat(1, 1fr);
        padding: 1em;
    }

    .banner-image img {
        width: 15em;
        height: auto;
    }

    .div-background {
        width: auto;
        height: 30em;
        display: grid;
        align-content: center;
        justify-items: center;
    }

    .about-us {
        padding: 2em 1em;
        grid-template-columns: repeat(1, 1fr);
    }

    .info-about-us {
        grid-column-start: 1;
        grid-column-end: 1;
    }

    .about-us-img {
        height: auto;
        display: flex;
        justify-content: center;
    }

    .about-us-img img {
        width: 15em;
    }

    #section-products {
        display: none;
        opacity: 0;
    }

    .info-products-mobile h2 {
        text-align: center;
        margin-bottom: 10px;
    }

    .info-products-mobile span {
        text-align: center;
        display: block;
        margin-bottom: 20px;
    }

    #section-social-media {
        padding: 5em 2em;
    }

    #section-social-media{
        height: 42vh;
    }

    .social-media {
        background: rgba(0, 0, 0, 0.0)
    }

    #section-products {
        display: none;
        opacity: 0;
    }

    .section-cards-mobile img {
        width: 100%;
    }
}

/* Estilos específicos para tablets */
@media (min-width: 768px) and (max-width: 991px) {

    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 18px;
    }

    p {
        font-size: 16px;
    }

    span {
        font-size: 16px;
    }

    .banner-image img {
        width: 18em;
        height: auto;
    }

    .div-background {
        width: auto;
        height: 35em;
        padding: 0 2em;
        display: grid;
        justify-items: center;
        align-items: center;
        align-content: center;
    }

    nav {
        margin-left: 2em;
        margin-right: 2em;
    }

    #section-products-mobile {
        display: none;
        opacity: 0;
    }

    .about-us img {
        width: 18em;
    }

    .list-menu-item {
        display: inline-block;
        margin-right: 5px;
    }

    .list-menu-item a {
        font-size: 12px;
    }

    .section-cards>div .title {
        bottom: 57px;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }
}

/* Estilos específicos para desktops pequenos */
@media (min-width: 992px) and (max-width: 1199px) {

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 22px;
    }

    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 18px;
    }

    p {
        font-size: 16px;
    }

    span {
        font-size: 16px;
    }

    .banner-image img {
        width: 20em;
        height: auto;
    }

    .div-background {
        padding-top: 5em;
        width: 60em;
        height: 35em;
        display: grid;
        justify-items: center;
        align-items: center;
        align-content: center;
    }

    nav {
        margin-left: 5em;
        margin-right: 5em;
    }

    #section-products-mobile {
        display: none;
        opacity: 0;
    }

    .about-us-img img{
        width: 85%;
    }

    .section-cards>div .title{
        bottom: 57px;
    }
    
}

/* Estilos específicos para desktops grandes */
@media (min-width: 1200px) and (max-width: 1919px) {

    main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-items: center;
    }

    #logo-empresa {
        width: 5em;
        height: auto;
    }

    .banner-image img {
        width: 30em;
        height: auto;
    }

    .div-background {
        width: 60em;
        height: 25em;
    }

    #section-products-mobile {
        display: none;
        opacity: 0;
    }

    .div-background {
        background-image: url(image/background.png);
        background-size: cover;
        background-position: center;
        width: 92%;
        height: 45em;
        margin: auto;
    }

    .about-us-img {
        height: 30em;
    }

    .about-us-img img {
        width: 30em;
        height: auto;
    }

    .section-cards>div .title {
        bottom: 57px;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }

}

@media (min-width: 1920px) {

    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 26px;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 22px;
    }

    p {
        font-size: 20px;
    }

    span {
        font-size: 20px;
    }

    .banner-image img {
        width: 40em;
        height: auto;
    }

    main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-items: center;
    }

    #logo-empresa {
        width: 7em;
        height: auto;
    }

    .div-background {
        width: auto;
        height: 50em;
        padding: 0 5em;
    }

    .about-us-img {
        height: 36em;
    }

    .about-us-img img {
        width: 40em;
        height: auto;
    }

    .list-menu-item a {
        font-size: .8em;
    }

    #section-products-mobile {
        display: none;
        opacity: 0;
    }

}