@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400..700&display=swap&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Montserrat";
    background-color: #f3f1e9;
    overflow-x: hidden;
}

nav {
    border-radius: 0 0 3rem 3rem; 
    margin: 0 2.5rem;
}


h1,
h2 {
    font-family: "Edu TAS Beginner";
}

#section-social-midia {
    position: relative;
    background-image: url("image/background-img-contact.jpeg");
    background-size: cover;
    background-position: top;
    padding: 5em 0;
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

#section-social-midia::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

#section-social-midia .social-midia {
    position: relative;
    z-index: 2;
}

.img-logo {
    padding-left: 1rem;
}

.div-background {
    background-image: url('image/background.png');
    background-size: cover;
    background-position: center;
    width: 80em;
    height: 45em;
    margin: auto;
}

#logo-empresa {
    width: 7em;
    height: auto;
}

.container-cards {
    background-color: #FFF;
    padding: 5vh;
}

.info-products {
    text-align: center;
    padding: 5vh;
}

.section-cards {
    display: flex;
    height: 75vh;
    max-width: 100vw;
}

.section-cards div {
    display: flex;
    flex: 1;
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: all 0.7s ease-in-out;
    cursor: pointer;
}

.section-cards div:hover {
    flex-grow: 4;
}

.section-cards div img {
    width: 55rem;
    height: 38rem;
    object-fit: cover;
    border-radius: 2rem;
    transition: transform 0.5s ease-in-out;
}

.section-cards>div .title {
    position: absolute;
    width: 55rem;
    text-align: center;
    opacity: 0;
    color: #FFF;
    background: rgba(0, 0, 0, 0.3);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    padding: 1em 0;
    box-sizing: border-box;
    border-bottom-left-radius: 2.2rem;
    border-bottom-right-radius: 2.2rem;
}

.section-cards div:hover .title {
    opacity: 1;
    transform: translateY(0);
}

.section-cards div .title h3 {
    transform: scale(0.8);
    transition: transform 0.s ease-in-out;
}

.section-cards div:hover .title h3 {
    transform: scale(1);
}

.img-social {
    width: 2em;
    height: auto;
}

.about-us {
    background-color: #EB68C2;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: stretch;
    padding: 10vh;
}

.info-about-us {
    grid-column-start: 1;
    grid-column-end: 4;
}

.section-info-social {
    background-color: #74EB7E;
    padding: 30vh 0;
    display: none;
}

.title-info-social {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    position: relative;
    bottom: 15vh;
    justify-items: center;
    color: #FFF;
    bottom: 22vh;
}


.customer-experience {
    background-color: #FFF;
}

.customer-name {
    font-weight: bold;
    text-align: right;
}

.number-phone {
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 0.5s ease, height 0.5s ease;
}

.number-phone.show {
    opacity: 1;
    height: auto;
}

.list {
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.list li {
    list-style-type: none;
    width: 250px;
    height: 250px;
    opacity: .25;
    position: absolute;
    left: 50%;
    margin-left: -100px;
    background: #ffffff;
    transition: transform 1s, opacity 1s;
    padding: 4rem 1rem 1rem 1rem;
    border-top-right-radius: 3em;
    border-bottom-left-radius: 3em;
}

.list .act {
    opacity: 1;
}

.list .prev,
.list .next {
    cursor: pointer;
}

.list .prev {
    transform: translateX(-220px) scale(.85);
}

.list .next {
    transform: translateX(220px) scale(.85);
}

.list .hide {
    transform: translateX(-420px) scale(.85);
}

.list .new-next {
    transform: translateX(420px) scale(.85);
}

.list .hide,
.list .new-next {
    opacity: 0;
    transition: opacity .5s, transform .5s;
}

.swipe {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: green;
    border-radius: 2px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.list p {
    font-weight: bold;
    text-align: right;
}

.social-midia {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 1rem;
    padding: 2em;
    color: white;
}

#section-social-midia .social-midia h2 {
    color: #ffffff;
    margin-bottom: 0.5em;
}


.social-midia p {
    margin-bottom: 2rem;
}

.contact-buttons {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.contact-button {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem 2rem;
    text-decoration: none;
    color: white;
    border-radius: .5rem;
    font-size: 18px;
    transition: background-color 0.3s, transform 0.3s;
}

.contact-button i {
    font-size: 24px;
}

.contact-button.whatsapp {
    background-color: #25d366;
}

.contact-button.instagram {
    background-color: #e1306c;
}

.contact-button:hover {
    transform: translateY(-.5rem);
    text-decoration: none;
    color: #FFF;
}

.contact-button:active {
    transform: translateY(0);
    text-decoration: none;
    color: #FFF;
}

[class^="number-slide"],
[class*=" number-slide"] {
    background: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: #fff;
    font-weight: 500;
    height: 20rem;
    max-height: 100vh;
}

.number-slide1 {
    background-image: url("image/oficina.jpg");
    background-size: cover;
}

.thumbnail .number-slide1 {
    background-image: url("image/oficina.jpg");
    background-size: cover;
    background-position: center;
}

.number-slide2 {
    background-image: url("image/mercadinho.jpg");
    background-size: cover;
}


.thumbnail .number-slide2 {
    background-image: url("image/mercadinho.jpg");
    background-size: cover;
    background-position: center;
}

.number-slide3 {
    background-image: url("image/cozinha.jpg");
    background-size: cover;
    background-position: center;
}

.thumbnail .number-slide3 {
    background-image: url("image/cozinha.jpg");
    background-size: cover;
    background-position: center;
}

.number-slide4 {
    background-image: url("image/estante-fem.jpg");
    background-size: cover;
    background-position: center;
}

.thumbnail .number-slide4 {
    background-image: url("image/estante-fem.jpg");
    background-size: cover;
    background-position: center;
}

.number-slide5 {
    background-image: url("image/lavanderia.jpg");
    background-size: cover;
    background-position: center;
}

.thumbnail .number-slide5 {
    background-image: url("image/lavanderia.jpg");
    background-size: cover;
    background-position: center;
}

.number-slide6 {
    background: rgb(64, 76, 255);
    background: linear-gradient(128deg,
            rgba(64, 76, 255, 1) 0%,
            rgba(174, 63, 255, 1) 100%);
}

.thumbnail .number-slide6 {
    background: rgb(64, 76, 255);
    background: linear-gradient(128deg,
            rgba(64, 76, 255, 1) 0%,
            rgba(174, 63, 255, 1) 100%);
}

.thumbnail .keen-slider__slide {
    margin-top: 1rem;
    height: 6rem;
}

.thumbnail .keen-slider__slide {
    cursor: pointer;
}

.thumbnail .keen-slider__slide.active {
    border: 2px dashed white;
}


@media (min-width: 319px) and (max-width: 376px) {

    nav {
        margin: 0 1rem;
    }

    .div-background {
        width: auto;
        height: auto;
        display: grid;
        align-content: center;
        justify-items: center;
    }

    h1 {
        font-size: 24px;
        text-align: center;
        font-weight: 600;
    }

    h2 {
        font-size: 20px;
        text-align: center;
    }

    h3 {
        font-size: 18px;
        text-align: center;
    }

    h4 {
        font-size: 16px;
    }

    p,
    span {
        font-size: 14px;
    }

    main {
        grid-template-columns: repeat(1, 1fr);
        padding: 2rem;
        text-align: justify;
    }

    main h1 {
        margin: 1rem 0 1rem 0;
    }

    .banner-image img {
        width: 15rem;
        height: auto;
    }

    .about-us {
        padding: 2rem;
        grid-template-columns: repeat(1, 1fr);
        text-align: justify;
    }

    .info-about-us {
        grid-column-start: 1;
        grid-column-end: 1;
    }

    .info-about-us h2, .about-us-difference h2, .info-products-mobile, .info-products-mobile h2{
        margin-bottom: 1rem;
    }

    .about-us-img {
        height: auto;
        display: flex;
        justify-content: center;
    }

    .about-us-img img {
        width: 15em;
    }

    #section-products {
        display: none;
        opacity: 0;
    }

    #section-social-midia {
        height: 25vh;
    }

    .social-midia {
        background: rgba(0, 0, 0, 0.0)
    }

    #logo-empresa{
        width: 4rem;
        height: auto;
        margin-top: .5rem;
    }

    .contact-buttons {
        gap: 1rem;
    }

    .contact-button {
        font-size: 12px;
        padding: 1rem;
    }
    .social-midia h2{
        margin-bottom: 2rem !important;
        font-size: 24px;
    }


}

/* Estilos específicos para telefones */
@media (min-width: 377px) and (max-width: 480px) {

    h1 {
        font-size: 24px;
        text-align: center;
    }

    h2 {
        font-size: 20px;
        text-align: center;
    }

    h3 {
        font-size: 18px;
    }

    h4 {
        font-size: 16px;
    }

    p,
    span {
        font-size: 14px;
    }

    main {
        grid-template-columns: repeat(1, 1fr);
        padding: 1em;
        text-align: center;
    }

    main h1 {
        margin: 4rem 0 1rem 0;
        font-weight: 600;
    }

    .info-about-us h2, .about-us-difference h2, .info-products-mobile, .info-products-mobile h2{
        margin-bottom: 1rem;
    }

    .banner-image img {
        width: 15rem;
        height: auto;
    }

    .div-background {
        width: auto;
        height: auto;
        display: grid;
        align-content: center;
        justify-items: center;
    }

    .about-us {
        padding: 2rem;
        grid-template-columns: repeat(1, 1fr);
        text-align: justify;
    }

    .info-about-us {
        grid-column-start: 1;
        grid-column-end: 1;
    }

    .about-us-img {
        height: auto;
        display: flex;
        justify-content: center;
    }

    .about-us-img img {
        width: 15rem;
    }

    #section-products {
        display: none;
        opacity: 0;
    }

    .info-products-mobile h2 {
        text-align: center;
        margin-bottom: 10px;
    }

    .info-products-mobile span {
        text-align: center;
        display: block;
        margin-bottom: 20px;
    }

    #section-social-midia {
        height: 35vh;
    }

    .social-midia {
        background: rgba(0, 0, 0, 0.0)
    }

    #logo-empresa{
        width: 5rem;
        height: auto;
    }

    .contact-buttons {
        gap: 2rem;
    }

    .contact-button {
        padding: 1rem;
    }

    .social-midia h2{
        margin-bottom: 2rem !important;
        font-size: 24px;
    }

}



/* Estilos específicos para telefones grandes */
@media (min-width: 481px) and (max-width: 767px) {

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 18px;
    }

    h4 {
        font-size: 16px;
    }

    p,
    span {
        font-size: 14px;
    }

    main {
        grid-template-columns: repeat(1, 1fr);
        padding: 1rem;
    }
    
    main h1 {
        margin: 2rem 0 1rem 0;
        font-weight: 600;
    }

    .info-about-us h2, .about-us-difference h2, .info-products-mobile, .info-products-mobile h2{
        margin-bottom: 1rem;
    }

    .banner-image img {
        width: 15rem;
        height: auto;
    }

    .div-background {
        width: auto;
        height: 30rem;
        display: grid;
        align-content: center;
        justify-items: center;
    }

    .about-us {
        padding: 2em 1em;
        grid-template-columns: repeat(1, 1fr);
        text-align: justify;
    }

    .info-about-us {
        grid-column-start: 1;
        grid-column-end: 1;
    }

    .about-us-img {
        height: auto;
        display: flex;
        justify-content: center;
    }

    .about-us-img img {
        width: 15rem;
    }

    #section-products {
        display: none;
        opacity: 0;
    }

    .info-products-mobile h2 {
        text-align: center;
        margin-bottom: 1rem;
    }

    .info-products-mobile span {
        text-align: center;
        display: block;
        margin-bottom: 2rem;
    }

    #section-social-midia {
        padding: 2rem;
    }

    #section-social-midia {
        height: 42vh;
    }

    .social-midia {
        background: rgba(0, 0, 0, 0.0)
    }

    #section-products {
        display: none;
        opacity: 0;
    }

    #logo-empresa{
        width: 5rem;
        height: auto;
    }

    .social-midia h2{
        margin-bottom: 2rem !important;
        font-size: 26px;
    }
}

/* Estilos específicos para tablets */
@media (min-width: 768px) and (max-width: 991px) {

    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 18px;
    }

    p {
        font-size: 16px;
    }

    span {
        font-size: 16px;
    }

    .banner-image img {
        width: 20rem;
        height: auto;
    }

    main h1 {
        margin: 6rem 0 1rem 0;
        font-weight: 600;
    }

    .div-background {
        width: auto;
        height: 40rem;
        padding: 0 2rem;
        display: grid;
        justify-items: center;
        align-items: center;
        align-content: center;
    }

    #section-products-mobile {
        display: none;
        opacity: 0;
    }

    .about-us {
        padding: 2rem;
    }

    .about-us img {
        width: 18em;
    }

    .info-about-us h2, .about-us-difference h2, .info-products h2{
        margin-bottom: 1rem;
    }

    .info-products {
        padding: 0;
    }

    .section-cards>div .title {
        bottom: 6.2rem;
        width: 21rem;
    }

    #logo-empresa{
        width: 6rem;
        height: auto;
    }

    #section-social-midia {
        height: 60vh;
    }

    .social-midia h2 {
        font-size: 28px;
        margin-bottom: 2rem !important;
    }
}

/* Estilos específicos para desktops pequenos */
@media (min-width: 992px) and (max-width: 1199px) {

    h1 {
        font-size: 26px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 18px;
    }

    p, li, span {
        font-size: 16px;
    }

    main h1{
        font-weight: 600;
        margin-bottom: 1rem;
    }

    .banner-image img {
        width: 20rem;
        height: auto;
    }

    .div-background {
        padding-top: 5rem;
        width: 60rem;
        height: auto;
        display: grid;
        justify-items: center;
        align-items: center;
        align-content: center;
    }

    #section-products-mobile {
        display: none;
        opacity: 0;
    }

    .info-about-us h2, .about-us-difference h2, .info-products h2{
        margin-bottom: 1rem;
    }

    .about-us{
        padding: 2rem;
    }

    .about-us-difference {
        padding-bottom: 10rem;
    }

    .about-us-img {
        height: 30rem;
    }

    .about-us-img img {
        width: 30rem;
        height: auto;
    }

    .section-cards>div .title {
        bottom: 6.4rem;
        width: 29rem;
    }

    .info-products {
        padding: 0;
    }

    .social-midia h2{
        margin-bottom: 2rem !important;
        font-size: 26px;
    }
}

@media (min-width: 1200px) and (max-width: 1599px) {

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 22px;
    }

    h4 {
        font-size: 20px;
    }

    p, li, span {
        font-size: 18px;
    }

    main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-items: center;
    }

    main h1 {
        font-weight: 600;
        margin-bottom: 3rem;
    }

    .banner-image img {
        width: 30rem;
        height: auto;
    }

    .div-background {
        width: 85rem;
        height: auto;
    }

    #section-products-mobile {
        display: none;
        opacity: 0;
    }

    .info-about-us h2, .about-us-difference h2, .info-products h2 {
        margin-bottom: 1rem;
    }

    .about-us {
        padding: 2rem;
    }

    .about-us-img {
        height: 30rem;
    }

    .about-us-img img {
        width: 30rem;
        height: auto;
    }

    .about-us-difference {
        padding-bottom: 11rem;
    }

    .section-cards>div .title {
        bottom: 6.3rem;
        width: 42rem;
    }

    .social-midia h2 {
        font-size: 30px;
        margin-bottom: 2rem !important;
    }

}

/* Estilos específicos para desktops grandes */
@media (min-width: 1600px) and (max-width: 1919px) {

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 22px;
    }

    h4 {
        font-size: 20px;
    }

    p, li, span {
        font-size: 18px;
    }

    main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-items: center;
    }

    main h1 {
        font-weight: 600;
        margin-bottom: 3rem;
    }

    .banner-image img {
        width: 30rem;
        height: auto;
    }

    .div-background {
        width: 85rem;
        height: auto;
    }

    #section-products-mobile {
        display: none;
        opacity: 0;
    }

    .info-about-us h2, .about-us-difference h2, .info-products h2 {
        margin-bottom: 1rem;
    }

    .about-us {
        padding: 2rem;
    }

    .about-us-img {
        height: 30rem;
    }

    .about-us-img img {
        width: 30rem;
        height: auto;
    }

    .about-us-difference {
        padding-bottom: 11rem;
    }

    .section-cards>div .title {
        bottom: 4.3rem;
        width: 55rem;
    }

    .social-midia h2 {
        font-size: 30px;
        margin-bottom: 2rem !important;
    }

}

@media (min-width: 1920px) {

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 40px;
    }

    h3 {
        font-size: 32px;
    }

    h4 {
        font-size: 30px;
    }

    p, li, span {
        font-size: 28px;
    }

    nav {
        margin: 0 37.5rem;
    }

    .banner-image img {
        width: 40em;
        height: auto;
    }

    main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-items: center;
    }

    main h1 {
        font-weight: 600;
        margin-bottom: 3rem;
    }

    .div-background {
        width: 130rem;
        height: auto;
    }

    .about-us {
        padding: 8rem;
    }

    .about-us-img {
        height: 36rem;
    }

    .about-us-img img {
        width: 40rem;
        height: auto;
    }

    .about-us-difference {
        padding-bottom: 10rem;
    }

    #section-products-mobile {
        display: none;
        opacity: 0;
    }

    #logo-empresa {
        width: 10em;
        height: auto;
    }

    .info-about-us h2, .about-us-difference h2{
        margin-bottom: 1rem;
    }

    .info-products {
        padding: 0;
    }

    .info-products h2 {
        margin-bottom: 1rem;
    }

    .section-cards>div .title {
        bottom: 6.5rem;
    }

    .social-midia {
        padding: 6rem 10rem;
    }

    .social-midia h2 {
        font-size: 60px;
        margin-bottom: 5rem !important;
    }

    .contact-button{
        font-size: 40px;
        gap: 2rem;
    }

    .contact-buttons{
        gap: 10rem;
    }

    .contact-buttons a {
        padding: 2rem;
    }

    .contact-button i {
        font-size: 50px;
    }
}