body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f3f1e9;
    border: 0;
    vertical-align: baseline;
    overflow-x: hidden;
}

nav{
    position: relative;
    background-color: #FFF;
    margin-left: 10em;
    margin-right: 10em;
    border-radius: 0 0 15px 15px;
}

main{
    margin-bottom: 5em;
}

.products-image img{
    width: 85%;
}


.div-background{
    background-image: url('image/background-2.png');
    background-size: cover;
    background-position: right;
    border-bottom-left-radius: 10em;
    border-top-right-radius: 15em;
    width: 120em;
    height: 35em;
    margin: auto;
}

#list-menu{
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-family: sans-serif;
    font-weight: 700;
}

.list-menu-item{
    display: inline-block;
    margin-right: 10px; 
}

#logo-empresa {
    width: 5em;
    height: auto;
}

#div-carousel{
    height: 500px;
}

.carousel-image {
    width: 100%; 
    height: auto; 
    object-fit: contain; 
}

#prevBtn, #proxBtn {
    cursor: pointer;
} 

.img-social{
    width: 2em;
    height: auto;
}


@media (max-width: 991px) { 

    .banner-image img{
        width: 25em;
        height: auto;
    }

    .div-background{
        width: 44em;
        height: 20em;
    }

    nav{
        margin-left: 2em;
        margin-right: 2em;
    }

}

@media (min-width: 992px) and (max-width: 1199px) { 

    .banner-image img{
        width: 30em;
        height: auto;
    }

    .div-background{
        width: 60em;
        height: 25em;
    }

    nav{
        margin-left: 5em;
        margin-right: 5em;
    }

}

@media (min-width: 1200px) { 

    .banner-image img{
        width: 50em;
        height: auto;
    }

}