body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f3f1e9;
    border: 0;
    vertical-align: baseline;
    overflow-x: hidden;
}

nav{
    position: relative;
    background-color: #FFF;
    margin-left: 10em;
    margin-right: 10em;
    border-radius: 0 0 15px 15px;
}

main{
    margin-bottom: 5em;
}

.image-container{
    flex: 1;
    padding: 5px;
}

.image-container-2 {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.image-container img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.image-container-2 img{
    width: 90%;
    height: 365px;
    object-fit: cover;
    border-radius: 10%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}


.div-background{
    background-image: url('image/background.png');
    background-size: cover;
    background-position: center;
    width: 80em;
    height: 32em;
    margin: auto;
}

#list-menu{
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-family: sans-serif;
    font-weight: 700;
}

.list-menu-item{
    display: inline-block;
    margin-right: 10px; 
}

#logo-empresa {
    width: 5em;
    height: auto;
}

#div-carousel{
    height: 500px;
}

.carousel-image {
    width: 100%; 
    height: auto; 
    object-fit: contain; 
}

#prevBtn, #proxBtn {
    cursor: pointer;
} 

.img-social{
    width: 2em;
    height: auto;
}

.products-image{
    padding-top: 5em;
    background: linear-gradient(183deg, #f3f1e9 8%, #FFF 1%);
    position: relative;
    background-color: #FFF;
    overflow: hidden;
}


@media (max-width: 991px) { 

    .banner-image img{
        width: 25em;
        height: auto;
    }

    .div-background{
        width: 44em;
        height: 20em;
    }

    nav{
        margin-left: 2em;
        margin-right: 2em;
    }

}

@media (min-width: 992px) and (max-width: 1199px) { 

    .banner-image img{
        width: 30em;
        height: auto;
    }

    .div-background{
        width: 60em;
        height: 25em;
    }

    nav{
        margin-left: 5em;
        margin-right: 5em;
    }

}

@media (min-width: 1200px) { 

    .banner-image img{
        width: 50em;
        height: auto;
    }

}