body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: bisque;
}

main{
    margin-bottom: 10em;
    background-image: url('image/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}

#list-menu{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.list-menu-item{
    display: inline-block;
    margin-right: 10px; 
}

#logo-empresa {
    width: 5em;
    height: auto;
}

#div-carousel{
    height: 500px;
}

.carousel-image {
    width: 100%; 
    height: auto; 
    object-fit: contain; 
}

#prevBtn, #proxBtn {
    cursor: pointer;
} 

.img-social{
    width: 2em;
    height: auto;
}

.banner-image img{
    width: 40em;
    height: auto;
}